table, th, td {
    border: 1px solid #2A3B67;
    padding: 20px;
    text-align: center;
    border-collapse: collapse;
}
body{
    background-color: #e1f1fd;
}
.bodypage {
    width: 21cm;
    margin: 0 auto;
    padding: 2cm; 
    font-size: 12pt; 
    line-height: 1.6;
    background-color: white;
}
.intro, .minor, .major, .majorp, .grave {
    width: 100%;
    margin-bottom: 1.5cm; 
}
h2, h3 {
    margin-top: 0; 
}
.footer{
    width: 100%;
    height: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #2A3B67;
    color: white;
}
.main_Title{
    text-align: center;
}
tbody tr:nth-of-type(odd){
    background-color: #e4f0f5;
}
th{
    background-color: #26408B;
    color: white;
    border: none;
}